@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=DynaPuff&family=Mulish:wght@200&family=Prompt:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  font-size: 62.5%;
}
.footer {
  width: 100%;
  background-color: #222324 !important;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 3px -4px 21px #0a075f;
  margin-top: 3rem;
  li {
    margin-bottom: 1rem;
  }
  li,
  p {
    font-family: "Mulish", sans-serif;
  }

  h3 {
    margin-bottom: 3rem;
  }
  &_info-first {
    margin-top: 6rem;
    .logo {
      margin-bottom: 1.7rem;
      .image {
        padding-bottom: 0.4rem;
        padding-left: 0.7rem;
      }
    }
    .text {
      width: 33rem;
      line-height: 2.5rem;
      font-weight: 400;
    }
    .pics {
      img {
        margin-top: 1.7rem;
        margin-right: 1.6rem;
      }
    }
  }
  &_info-second {
    margin-top: 7rem;
  }
  &_info-third {
    margin-top: 7rem;
  }
  &_info-forth {
    margin-top: 7rem;
    p {
      width: 36rem;
      margin-bottom: 2rem;
    }
    .button {
      position: relative;
      display: inline-block;
      input {
        border-radius: 4.5rem;
        background-color: #f1f1f1;
        width: 36rem;
        height: 6rem;
        padding-right: 4rem;
        &::placeholder {
          font-size: 1rem;
          padding-left: 2rem;
          padding-bottom: 2.6rem;
        }
      }
      button {
        position: absolute;
        background-color: #f5167e;
        top: 36%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 5rem;
        width: 14rem;
        height: 4rem;
        right: 1rem;
        color: white;
        font-weight: 300;
        font-size: 1rem;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .footer {
    font-size: 1.7rem;
    background-color: #0a075f;
  }
  //    background-color: #f5167e;
  //    height: 35rem;
  //    &_info-forth {
  //     p {
  //         width: 28rem;
  //         margin-bottom: 2rem;
  //       }
  //     .button{
  //    input{
  //     width: 28rem;
  //     height: 4rem;
  //    }
  //    button{
  //     width: 9rem;
  //     height: 2.5rem;
  //     font-size: 0.8rem;
  //    }
  // } }  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .footer {
    font-size: 1.4rem;
    height: 40rem;
    &_info-forth {
      p {
        width: 28rem;
        margin-bottom: 2rem;
      }
      .button {
        input {
          width: 28rem;
          height: 4rem;
          &::placeholder {
            font-size: 0.9rem;
          }
        }
        button {
          width: 9rem;
          height: 2.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    justify-content: space-around;
    background-color: #0a075f;
    height: 50rem;
  }

  .footer > div:last-child {
    flex-basis: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -3rem;
    p {
      text-align: center;
    }
  }
}
//    font-size: 1rem;
//    background-color: #0a075f;
//    &_info-first{
//         // .logo{
//         //     height: 1rem;
//         // }
//         .text{
//             width: 20rem;
//         }
//     }

//    &_info-forth {
//     p{
//         width: 20rem;
//     }
//     .button{
//    input{
//     width: 22rem;
//     height: 3.6rem;
//     &::placeholder{
//         font-size: 0.8rem;
//     }
//    }
//    button{
//     width: 5rem;
//     height: 1.8rem;
//     font-size: 0.6rem;
//    }
// } }  }
