@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=DynaPuff&family=Mulish:wght@200&family=Prompt:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // background-color: chartreuse;
    font-family: 'DM Sans', sans-serif;
padding-top: 8rem;
padding-left: 17rem;
padding-right: 17rem;
    &_card {
    width: 30rem;
    height: 31rem;
        overflow: hidden;
        border-radius: 2rem;
// background-color: cadetblue;
        &-img {
            img {
                width: 100%;
                height: 18rem;
            }
        }

        &-text {
            display: flex;
            justify-content: start;
            font-size: 1.6rem;
            margin: 1rem 2.3rem;
span{   
    height:3.7rem;
    width: 3.7rem;
    align-items: baseline;
            h1 {
                font-size: 2.8rem;
            }}

            &-desc {
                margin-left: 2rem;

                h2 {
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                p {
                    font-size: 1.4rem;
                    color: #6A6A6A;
                    font-weight: 400;
                }

            }
        }
    }
}

// @media screen and (min-width: 900px){
//     .container{
//         // background-color:deeppink;
// &_card{
//     width: 25rem;
//     height: 27rem;
// }
//     }
// }
@media (min-width: 1000px) and (max-width: 1440px){
    .container{
        background-color:deeppink;
&_card{
    // width: 15rem;
    // height: 16rem;
}
    }
}
@media (min-width: 1000px) and (max-width: 1300px){
    .container{
        background-color:rgb(20, 90, 255);
        padding-left: 8rem;
padding-right: 8rem;
&_card{
    width: 25rem;
    height: 26rem;
}
    }
}